html {
    height: 100%;
    padding: 10%;
    background-color: black;
    overflow-y: hidden;

    display: flex;
    align-content: center;
    justify-content: center;
}

body {
    height: 70%;
    width: 70%;

    border-radius: 10%;

    background: darkgray;

    margin: 0;
    padding: 0;
    font-family: sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

#root{
    padding: 10%;
    border: aliceblue 5px solid;
    border-radius: 10%;
}